

html,
body {
  font-family: 'comfortaa', sans-serif;
  text-align: right;
  
}

* {
  margin: 110;
  padding: 110;
}

/* Nav bar */

 nav ul {
  position: fixed;
  text-align: right;
  Bottom: 100px;
  Right: 100px;
  background-color: #Fff;
  background: rgba(255,255,255,0.0);
  font-family: "comfortaa",sans-serif; 
  font-size: 1.2em;
}

nav ul li {
  display: inline-block;
  margin: 110px; 
}

nav ul li a {
  color: #000;
  text-decoration: none;
}
nav ul li a:hover {
  color: #ababab;
}

/* about me */

#welcome-section {
  top: 0;
  line-height: 1.6;
  background: #F5F5F5;
  min-height: 55vh;
  padding-top: 0vh;
  text-align:
}
  
